{% extends "encyclopedia/layout.html" %}
{% load markdownify %}

{% block title %}
    {{ title }}
{% endblock %}


{% block body %}
    <form id='edit-page-form' action="{% url 'edit_page' %}" method='POST'>
        {% csrf_token %}
        <label>{{ title }}</label>
        <input type='hidden' name='title' value='{{ title }}'>
        <input type="hidden" name="_method" value="PUT" />
        <textarea name='content' id='textarea-new-page'>{{ content }}</textarea>
        <input id='new-submit-btn' type='submit' value='Save'>
    </form>

{% endblock %}